body, button, input, select, textarea {
    font-family: 'Kameron', serif;
}

body {
    background-color: white;
    font-size: 62.5%;
    font-size: 1.2rem;
}

header {
    background-color: white;
    margin: 0;
    .internalHeader {
        padding: 20px;
        border-right: 10px solid black;
        border-left: 10px solid black;
        border-top: 10px solid black;
    }
}

section, div {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 0;
    font-family: 'Cormorant', serif;
    text-transform: uppercase;
    font-size: 7rem;
}

button {
    border: none;
    align-self: center;
    cursor: pointer;
}

.inputFormSection {
    background-color: white;
    .internalFormDiv {
        background-color: white;
        padding: 0 0 28px;
        border-right: 10px solid black;
        border-left: 10px solid black;
        form {
            text-align: center;
            display: flex;
            flex-direction: column;
            margin: 0 40px;
        }
        .newGoal {
            font-size: 1.7rem;
        }
        .ideaTextField {
            border: 2px solid #000;
            margin: 5px 0 0;
            padding: 10px;
            height: 100px;
            resize: none;
        }
        .charCount {
            align-self: flex-end;
            margin: 1px 0 5px;
            color: gray;
            font-size: 1rem;
        }
        .nameField {
            height: 50px;
            padding: 10px;
            width: 70%;
        }
        .addButton {
            padding: 0 30px;
            height: 50px;
        }
    }
}

.randomItem {
    background-color: rgb(131, 236, 247);
}
.internalRandomDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    .randomIntroText {
        min-width: 120px;
        max-width: 120px;
        font-size: 2rem;
    }
    .randomEssayIdea {
        font-weight: bold;
        padding: 10px;
    }
    .anotherButton {
        padding: 12px 10px;
        border: 1px solid grey;
        border-radius: 20px;
        font-size: 1.5rem;
        width: 110px;
        margin-left: 10px;
    }
}


.itemList {
    background-color: white;
}
.internalListDiv {
    background-color: white;
    border-right: 10px solid black;
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    padding: 10px 40px;
    h2 {
        margin: 5px 0 0 0;
        text-align: center;
    }
    form {
        display: flex;
        justify-content: right;
    }
}
ul {
  padding: 0;
    li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // justify-content: space-between;
        border: 1px solid lightgray;
        padding: 10px;
        box-shadow: 2px 2px black;
        margin: 10px 0;
        .attribution {
            align-self: flex-end;
            font-size: 1rem;
            color: gray;
        }
        .dateSpan {
            color: black;
        }
    }
}


@media (max-width: 600px) {
    .wrapper {
        width: 90%;
    }
}

@media (max-width: 400px) {
    .wrapper {
        width: 97%;
    }
}