body {
  text-align: center;
}

ul {
  /* border: 1px solid black; */
  padding-left: 0;
}
li {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}

button {
  height: 20px;
  align-self: center;
  margin-left: 15px;
}